.zoom-buttons {
  position: fixed;
  top: 60px;
  left: 20px;
  z-index: 10000;

  &__button {
    background: transparent;
    //width: 32px;
    //height: 32px;
    //background: rgb(255, 255, 255);
    //box-shadow: rgba(0, 0, 0, 0.33) 0px 1px 3px 1px;
    //border-radius: 50%;
    //text-align: center;
    border: none;
    display: block;
    margin: 10px;
    //font-size: 18px;
    outline: none;

    svg {
      transition: filter 0.3s;
      filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.4));
    }

    &:active {
      svg {
        filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
      }
    }
  }

  &--mobile {
    top: auto;
    left: auto;
    bottom: 10px;
    right: 10px;
  }
}
