.slide {
  &--layout-split {
    .layout-indicator:after {
      content: 'split';
    }
  }
  &--layout-overlay {
    .layout-indicator:after {
      content: 'overlay';
    }
  }
  &--info-position-left {
    .info-position-indicator:after {
      content: 'left';
    }
  }
  &--info-position-center {
    .info-position-indicator:after {
      content: 'center';
    }
  }
  &--info-position-right {
    .info-position-indicator:after {
      content: 'right';
    }
  }
}
