.slide {
  width: 100%;
  height: 100%;
  position: relative;
  background: black;
  // img {
  //   object-fit: cover;
  // }
  &__text {
    margin: 10px 0;
    line-height: 1.5;
  }
  &__viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: black;
    & > div,
    & > div > div {
      height: 100%;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    font-size: 16px;
    pointer-events: none;
  }
  &__title {
    font-size: 2em;
    margin-top: 0;
  }

  &__required-statement {
    color: white;
    font-size: 0.8em;
    pointer-events: visible;
    text-shadow: 1px 1px 1px #1d1e20;
    line-height: 1.4;
    & * {
      line-height: 1.4;
      color: white;
    }
  }

  .slide__overlay-floating {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: auto;
    max-width: 35%;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
  }

  &--layout-split {
    @media screen and (min-width: 768px) {
      .slide__overlay {
        pointer-events: none;
      }
      .slide__overlay-content {
        background: white;
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        padding: 23px 40px;
      }
      .slide__viewport {
      }
      &.slide--info-position-left {
        .slide__overlay-content {
          width: 40%;
          left: 0;
        }
        .slide__viewport {
          width: 60%;
          right: 0;
          left: auto;
        }
      }
      &.slide--info-position-right {
        .slide__overlay-content {
          width: 40%;
          left: 60%;
        }
        .slide__viewport {
          width: 60%;
          left: 0;
        }
      }

      &.slide--info-position-center {
        display: flex;
        flex-direction: column;
        .slide__overlay {
          width: 100%;
          flex: 1;
          position: relative;
        }
        .slide__overlay-content {
          bottom: 0;
          width: 100%;
        }
        .slide__viewport {
          flex: 4;
          min-height: 70%;
          position: relative;
        }
      }
      &.slide--info-position-left {
        .slide__overlay-floating {
          bottom: 20px;
          left: 40%;
          margin-left: 20px;
        }
      }

      &.slide--info-position-center,
      &.slide--info-position-right {
        .slide__overlay-floating {
          bottom: 20px;
          left: 20px;
        }
      }
    }
  }

  &--layout-overlay {
    @media screen and (min-width: 768px) {
      .slide__overlay {
        width: 100%;
        display: flex;

        pointer-events: none;
      }
      .slide__overlay-content {
        background: white;
        min-width: 320px;
        max-width: 40%;
        padding: 10px;
        margin: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      }
      &.slide--info-position-left {
        .slide__overlay {
          align-items: flex-end;
          justify-content: flex-start;
        }
      }
      &.slide--info-position-right {
        .slide__overlay {
          align-items: flex-end;
          justify-content: flex-end;
        }
      }
      &.slide--info-position-center {
        .slide__overlay {
          align-items: center;
          justify-content: center;
        }
      }
      &.slide--info-position-left {
        .slide__overlay-floating {
          bottom: 20px;
          right: 20px;
          left: auto;
        }
      }

      &.slide--info-position-center,
      &.slide--info-position-right {
        .slide__overlay-floating {
          bottom: 20px;
          left: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    .slide__overlay {
      pointer-events: none;
      width: 100%;
      flex: 1;
      position: relative;
    }
    .slide__overlay-content {
      background: white;
      height: 100%;
      bottom: 0;
      width: 100%;
      position: relative;
      display: inline-block;
      padding: 20px;
    }

    .slide__viewport {
      flex: 4;
      min-height: 70%;
      position: relative;
    }
    .slide__overlay-floating {
      bottom: 20px;
      left: 20px;
    }
  }
}

.slide-cover {
  width: 100%;
  height: 100%;
  & > div {
    width: 100%;
    height: 100%;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      &.cover {
        object-fit: cover;
      }
    }
  }
}
