.page-panel {
  transition: transform 0.5s, opacity 0.5s;
  transform: translateX(0);
  opacity: 1;
  will-change: transform, opactiy;
  width: 50%;
  max-width: 500px;
  height: 100vh;
  display: flex;
  align-items: center;

  &--top {
    align-items: flex-start;
    .page-panel__inner {
      margin-top: 50px; // maybe change for distro.
    }
  }

  &--bottom {
    align-items: flex-end;
    .page-panel__inner {
      margin-bottom: 20px;
    }
  }

  &--disabled {
    opacity: 0;
    transform: translateX(-25%);
  }

  &__footer {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
  }

  //&__inner:hover {
  //  .page-panel__footer {
  //    max-height: 100px
  //  }
  //}

  &__inner {
    width: 320px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.34);

    //background: #fff;
    padding: 20px;
    margin-left: 20px;
    //box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;

    // Annotation hacks.
    img {
      max-width: 100%;
      height: auto;
      //height: 140px;
      //width: auto;
      //float: left;
      //margin-right: 15px;
      //margin-bottom: 15px;
    }
    p {
      font-size: 0.8em;
      text-align: left;
      line-height: 1.43;
      letter-spacing: normal;
      color: #1d1e20;
    }

    .annotatedzoom-annotation-detail__content {
      max-height: 80vh;
      overflow-y: auto;
    }
    .annotatedzoom-annotation-detail__label {
      width: 259px;
      height: 26px;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: normal;
      color: #1d1e20;
      text-align: left;
      margin: 0 0 20px;
    }
    .annotatedzoom-annotation-detail__credit {
      font-size: 0.75em;
      line-height: 1.54;
      color: #747c80;
    }
  }

  &--sticky {
    .page-panel__inner {
      position: sticky;
      top: 30%;
      margin-bottom: 220px;
    }
  }
}
