*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: "The Sans", Arial, Helvetica, sans-serif;
  margin-top: 40px;
}

.app-navigation {
  height: 40px;
  background: #333;
  color: #fff;
  border-bottom: 1px solid #111;
}

.app-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-size: 14px;
}

.app-navigation li {
  display: inline;
  margin: 0;
  padding: 0;
}

.app-navigation .navigation-active {
  color: #fff;
}

.app-navigation a {
  color: #ccc;
  text-decoration: none;
  padding: 0 20px;
  line-height:40px;
}
