@import '~system-font-css/system-font';

*,
*:after,
*:before {
  box-sizing: border-box;
}

.openseadragon-canvas:focus {
  outline: none;
}

body {
  font-family: system-ui, Arial, Helvetica, sans-serif;
}

#app {
  padding-top: 40px;
}

.app-navigation {
  height: 40px;
  background: #333;
  color: #fff;
  letter-spacing: 0.25px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
}

.app-navigation {
  font-family: system-ui, serif;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  font-size: 14px;
}

.app-logo {
  height: 25px;
  position: relative;
  top: 7px;
  border: 0;
}
img.app-logo {
  vertical-align: top;
}

.app-navigation li {
  @media screen and (max-width: 640px) {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    a {
      display: none;
    }
    a.navigation-active {
      display: inline-block;
    }
  }
  @media screen and (min-width: 641px) {
    display: inline;
  }
  margin: 0;
  padding: 0;
}

.app-navigation .app-brand {
  padding-right: 20px;
  width: 180px;
  display: inline-block;
  @media screen and (max-width: 640px) {
    overflow: hidden;
  }
  position: relative;

  a {
    color: #fff;
  }

  &:after {
    transition: background 0.2s;
    background: #fc4420;
    bottom: 0;
    content: '';
    display: block;
    left: -15px;
    height: 100%;
    width: 180px;
    top: 0;
    position: absolute;
    transform: skewX(-20deg);
    transform-origin: 100%;
    z-index: -1;
  }
}
.app-mobile-menu {
  display: none;
}
@media screen and (max-width: 640px) {
  .app-mobile-menu {
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    z-index: 10000000;
    margin: 0;
    padding: 0;
    opacity: 0;
    appearance: none;

    & ~ .app-navigation {
      .navigation-active {
        display: inline-block;
      }
      .app-brand {
        width: 200px;
        padding-left: 5px;

        .app-mobile-menu-icon {
          position: fixed;
          background: #fff;
          width: 30px;
          height: 20px;
          top: 10px;
          left: 5px;
          display: inline-block;
          vertical-align: middle;
          pointer-events: none;
          &:before {
            content: ' ';
            display: inline-block;
            background: #fff;
            width: 30px;
            height: 12px;
            border-top: 4px solid #fc4420;
            border-bottom: 4px solid #fc4420;
            position: absolute;
            top: 4px;
            left: 0px;
          }
        }
      }
    }
  }
  .app-mobile-menu--open ~ .app-navigation {
    height: auto;
    li {
      display: block;
      a {
        display: inline;
      }
    }
    .app-brand {
      width: 100%;
      transition: width 0.25s linear;
      &:after {
        width: calc(100% + 25px);
        transition: width 0.25s linear;
      }
    }
  }
}

.app-navigation .logo-item {
  float: right;
  position: relative;

  &:hover:after {
    background: rgba(#30cfb8, 0.85);
  }

  &:hover:after {
    background: #30cfb8;
  }
  &:after {
    transition: background 0.2s;
    background: rgba(#30cfb8, 0);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    width: 200px;
    top: 0;
    position: absolute;
    transform: skewX(-20deg);
    transform-origin: 100%;
    z-index: -1;
  }
}

.app-navigation .navigation-active {
  color: #fff;
}

.app-navigation a {
  color: #ccc;
  text-decoration: none;
  padding: 0 20px;
  line-height: 40px;
}

h1 {
  font-size: 2.8em;
  line-height: 1.5em;
  margin-bottom: 30px;
}

h3 {
  text-decoration: none;
  color: #333;
  font-size: 1.8em;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.company-link {
  text-decoration: none;
  color: #333;
}

.article-content {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
  line-height: 1.8em;
  width: 100vw;
  @media screen and (max-width: 640px) {
    padding: 15px;
  }
}
.article-content pre {
  display: block;
  overflow-x: auto;
}
