.title-panel {
  width: 100%;
  height: 100vh;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  padding-top: 30vh;
}

.title-panel h1 {
  font-family: sans-serif;
  font-weight: 300;
}

.title-panel__inner {
  color: #fff;
  font-weight: 300;
  padding: 30px;
  margin: auto;
  text-align: center;
}

.page-panel {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  pointer-events: none;

  /* This makes it stacking. */
  align-items: flex-start;
}

.page-panel__inner {
  background: #fff;
  padding: 30px;
  margin-left: 40px;
  max-width: 500px;
  box-shadow: 0px 10px 40px 0px rgba(0,0,0,.1);

  /* This makes it stacking. */
  position: sticky;
  top: 30%;
  margin-bottom: 220px;
}

.full-page-container {
  z-index: 1000;
  position: relative;
}

.muted {
  opacity: 0.7;
}
