.patchwork-annotation-detail {
  position: absolute;
  background: #fff;
  top: 30px;
  left: 30px;
  width: 320px;
  border-radius: 3px;
  padding: 15px;
  font-size: 14px;
  max-height: 320px;
  overflow-y: auto;
}

.patchwork-annotation-detail__label {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: .8px;
  line-height: 1.2;
  margin-bottom: 14px;
  margin-top: 0;
}

.patchwork-annotation-pin {
  position: relative;
  outline: none;
  pointer-events: none;
  backface-visibility: hidden;
  transform: translateZ(0);
}


.patchwork-annotation-pin:hover {
  /*outline: 2px dotted rgba(0, 0, 0, .6);*/
  /*border: 1px solid #fff;*/
}

.patchwork-fullscreen-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
}

.patchwork-fullscreen-toggle {
  color: #1d1e20;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2.5px;
  padding: 9px 16px;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #eee;
  border-radius: 3px;
  border: none;
  transform: translateZ(0);
}

.patchwork-fullscreen-toggle--is-mobile {
  background: #F3F935;
  color: #000;
  width: 200px;
  top: 50%;
  right: 50%;
  margin-right: -100px;
}

.patchwork-fullscreen-toggle--is-mobile.patchwork-fullscreen-toggle--is-fullscreen {
  background: #eee;
  color: #1d1e20;
  width: initial;
  top: 20px;
  right: 20px;
  margin-right: auto;
}

.patchwork-annotation-pin:after {
  content: '';
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 41"><g fill="none" fill-rule="evenodd"><circle cx="14" cy="14" r="14" fill="%23ffffff" stroke="%232C1E20" stroke-width="1"/><path stroke="%23ffffff" stroke-width="4" d="M14 28.5V39" stroke-linecap="square"/><g fill="%23333436"><path d="M8 13h12v2H8z"/><path d="M15 8v12h-2V8z"/></g></g></svg>');
  background-size: 100%;
  transform: translate3d(0,0,0);
  cursor: pointer;
  pointer-events: initial;
  position: absolute;
  top: -20px;
  width: 30px;
  height: 40px;
  left: 50%;
}

.patchwork-annotation-pin--selected:after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 41"><g fill="none" fill-rule="evenodd"><circle cx="14" cy="14" r="14" fill="%231D1E20"/><path stroke="%232C1E20" stroke-width="4" d="M14 28.5V39" stroke-linecap="square"/><path fill="%23ffffff" d="M14 12.586L10.464 9.05 9.05 10.464 12.586 14 9.05 17.536l1.414 1.414L14 15.414l3.536 3.536 1.414-1.414L15.414 14l3.536-3.536-1.414-1.414L14 12.586z"/></g></svg>');
}

.patchwork-container {
  position: relative;
  background: #000;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
}

.patchwork-annotation-detail__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  font-size: 30px;
  border: none;
  cursor: pointer;
  line-height: 30px;
}

@media (max-width: 479px) {
  .patchwork-annotation-detail {
    bottom: 30px;
    top: auto;
  }
}

.banner {
  background-image: url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/cad6edc6-49ac-403f-99ad-e9c96769eabc/320.jpg');
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
  url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/cad6edc6-49ac-403f-99ad-e9c96769eabc/320.jpg');
  background-image: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
  url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/cad6edc6-49ac-403f-99ad-e9c96769eabc/320.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
  url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/cad6edc6-49ac-403f-99ad-e9c96769eabc/320.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2),
(min--moz-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .banner {
    background-image: url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/edd9d905-7f95-4fa7-849d-708f05c55345/640.jpg');
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/edd9d905-7f95-4fa7-849d-708f05c55345/640.jpg');
    background-image: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/edd9d905-7f95-4fa7-849d-708f05c55345/640.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/edd9d905-7f95-4fa7-849d-708f05c55345/640.jpg');
  }
}

@media (min-width: 321px) {
  .banner {
    background-image: url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/edd9d905-7f95-4fa7-849d-708f05c55345/640.jpg');
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/edd9d905-7f95-4fa7-849d-708f05c55345/640.jpg');
    background-image: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/edd9d905-7f95-4fa7-849d-708f05c55345/640.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/edd9d905-7f95-4fa7-849d-708f05c55345/640.jpg');
  }
}

@media (min-width: 321px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 321px) and (min--moz-device-pixel-ratio: 2),
(min-width: 321px) and (min-resolution: 2dppx),
(min-width: 321px) and (min-resolution: 192dpi) {
  .banner {
    background-image: url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/9138e76f-f42c-4928-947d-28a175a19114/1280.jpg');
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/9138e76f-f42c-4928-947d-28a175a19114/1280.jpg');
    background-image: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/9138e76f-f42c-4928-947d-28a175a19114/1280.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/9138e76f-f42c-4928-947d-28a175a19114/1280.jpg');
  }
}

@media (min-width: 641px) {
  .banner {
    background-image: url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/6b73d27c-3f62-4286-a43a-c1d9aa9e0828/960.jpg');
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/6b73d27c-3f62-4286-a43a-c1d9aa9e0828/960.jpg');
    background-image: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/6b73d27c-3f62-4286-a43a-c1d9aa9e0828/960.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/22/6b73d27c-3f62-4286-a43a-c1d9aa9e0828/960.jpg');
  }
}

@media (min-width: 641px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 641px) and (min--moz-device-pixel-ratio: 2),
(min-width: 641px) and (min-resolution: 2dppx),
(min-width: 641px) and (min-resolution: 192dpi) {
  .banner {
    background-image: url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/65e2acb7-5045-4c82-bc07-a22d6a9235cd/1920.jpg');
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/65e2acb7-5045-4c82-bc07-a22d6a9235cd/1920.jpg');
    background-image: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/65e2acb7-5045-4c82-bc07-a22d6a9235cd/1920.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/65e2acb7-5045-4c82-bc07-a22d6a9235cd/1920.jpg');
  }
}

@media (min-width: 961px) {
  .banner {
    background-image: url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/9138e76f-f42c-4928-947d-28a175a19114/1280.jpg');
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/9138e76f-f42c-4928-947d-28a175a19114/1280.jpg');
    background-image: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/9138e76f-f42c-4928-947d-28a175a19114/1280.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/9138e76f-f42c-4928-947d-28a175a19114/1280.jpg');
  }
}

@media (min-width: 1281px) {
  .banner {
    background-image: url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/65e2acb7-5045-4c82-bc07-a22d6a9235cd/1920.jpg');
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/65e2acb7-5045-4c82-bc07-a22d6a9235cd/1920.jpg');
    background-image: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/65e2acb7-5045-4c82-bc07-a22d6a9235cd/1920.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/65e2acb7-5045-4c82-bc07-a22d6a9235cd/1920.jpg');
  }
}

@media (min-width: 1921px) {
  .banner {
    background-image: url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/dca221ae-fd31-4c6e-b69b-6556a096b4ac/2560.jpg');
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/dca221ae-fd31-4c6e-b69b-6556a096b4ac/2560.jpg');
    background-image: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/dca221ae-fd31-4c6e-b69b-6556a096b4ac/2560.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/dca221ae-fd31-4c6e-b69b-6556a096b4ac/2560.jpg');
  }
}

@media (min-width: 961px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 961px) and (min--moz-device-pixel-ratio: 2),
(min-width: 961px) and (min-resolution: 2dppx),
(min-width: 961px) and (min-resolution: 192dpi) {
  .banner {
    background-image: url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/dca221ae-fd31-4c6e-b69b-6556a096b4ac/2560.jpg');
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/dca221ae-fd31-4c6e-b69b-6556a096b4ac/2560.jpg');
    background-image: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/dca221ae-fd31-4c6e-b69b-6556a096b4ac/2560.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('https://vanda-production-assets.s3.amazonaws.com/2018/01/08/10/52/24/dca221ae-fd31-4c6e-b69b-6556a096b4ac/2560.jpg');
  }
}

