$pallet-3-3: #00aeb2 !default;
$link-color: $pallet-3-3 !default;
$hide-breadcrumbs: false;

.breadcrumbs {
  clear: both;
  display: flex;
  flex-direction: row;
  margin: 10px 15px;
  @if ($hide-breadcrumbs) {
    height: 0;
  }
  overflow: hidden;

  &--active {
    @if ($hide-breadcrumbs) {
      height: 25px;

      & ~ .galway-timeline__title h1 {
        font-size: 1em;
        line-height: 1.2em;
      }
    }
  }
  @media (max-width: 40em) {
    display: none;
  }

  &__back {
    flex: 0 0 20px;
  }
  &__container {
    flex: 1;
  }

  &__static {
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
    line-height: 22px;
  }

  & .material-icons {
    font-size: 13px;
    transform: scale(1.6);
    margin-right: 10px;
  }

  &__item {
    flex: 1;
    color: $link-color;
    padding-left: 10px;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;

    &:hover {
      color: darken($link-color, 10%);
    }

    &:before {
      color: #000;
      left: -15px;
      position: absolute;
      content: '\027A4';
      font-size: 8px;
      line-height: 20px;
    }
  }
}
