.explore-button {
  width: 134px;
  height: 32px;
  border-radius: 2px;
  background-color: #eaeaea;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.33);
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 10000;
  line-height: 30px;
  color: #1d1e20;
  transition: box-shadow 0.2s, transform 0.2s;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3px;
  //font-weight: 600;
  &--mobile {
    top: 50px;
    left: 10px;
  }
}
