$pill-size: 23px;

.rheostat {
  overflow: visible;
  margin: 0 10px;
  height: 50px;
}

.rheostat-background {
  background: #fff;
  height: 1px;
  margin: ($pill-size - 1) 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.rheostat-progress {
  background-color: #018786;
  height: 1px;
  margin: ($pill-size - 1) 0;
  position: absolute;
}

.rheostat-handle {
  margin-top: 16px;
  height: 13px;
  width: 13px;
  min-width: 13px;
  min-height: 13px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  transform: translate3d(-50%, 0, 0);
  border-radius: 50%;
  outline: none;
  z-index: 2;
}

.rheostat-handle:before,
.rheostat-handle:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #dadfe8;
}
