html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header {
  height: 40px;
}
#app {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.slideshow-demo {
  width: 100%;
  flex: 1;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  img {
    object-fit: cover;
  }
  &__viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
  }
  &--cover {
    .slide__overlay {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
  &--even {
    display: flex;
    flex-direction: row;
    .slide__viewport {
      position: relative;
      flex: 4;
    }
    .slide__overlay {
      position: relative;
      flex: 1;
      padding: 40px;
    }
  }
  &--odd {
    display: flex;
    flex-direction: row-reverse;
    .slide__viewport {
      position: relative;
      flex: 4;
    }
    .slide__overlay {
      position: relative;
      flex: 1;
      padding: 40px;
    }
  }
}

.canvas-navigation {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  pointer-events: visible;
  z-index: 10;
  top: 0;
  left: 0;
  &__previous,
  &__next {
    position: absolute;
    top: 50%;
    transform: translate(0 -50%);
  }
  &__previous {
    left: 16px;
  }
  &__next {
    right: 16px;
  }
}
