@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Source+Sans+Pro');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/solid.css');

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.slideshow-demo {
  width: 100%;
  height: calc(100vh - 40px);
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  img {
    object-fit: cover;
  }
  &__viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: black;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    font-family: 'Source Sans Pro', Sans-Serif;
    font-size: 16px;
  }
  &__title {
    font-family: 'Playfair Display', Serif;
    font-size: 48px;
  }

  &--cover {
    .slide__title {
      max-width: 40%;
    }
    .slide__text {
      max-width: 40%;
    }
    .slide__overlay {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      pointer-events: none;
    }
    .slide__viewport > div > div > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &--even {
    display: flex;
    flex-direction: row;
    .slide__viewport {
      position: relative;
      flex: 4;
    }
    .slide__overlay {
      position: relative;
      flex: 1;
      padding: 40px 60px;
    }
  }
  &--odd {
    display: flex;

    flex-direction: row-reverse;
    .slide__viewport {
      position: relative;
      flex: 4;
    }
    .slide__overlay {
      position: relative;
      flex: 1;
      padding: 40px 60px;
    }
  }
}

.canvas-navigation {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  top: 0;
  left: 0;
  &__previous,
  &__next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: all;
    color: transparent;
    background: transparent;
    border: 0;
    background: rgba(255, 255, 255, 1);
    width: 64px;
    height: 64px;
    outline: 0;
    filter: drop-shadow(0 0 4px transparent);
    &:hover {
      transition: filter 0.15s linear;
      filter: drop-shadow(0 0 4px #000);
    }
  }
  &__previous {
    left: -32px;
    border-radius: 0 50% 50% 0;
    &:before {
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);
      content: '\f053';
      color: #e36049;
      font-family: 'Font Awesome\ 5 Free';
    }
  }
  &__next {
    right: -32px;
    border-radius: 50% 0 0 50%;
    &:after {
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      content: '\f054';
      color: #e36049;
      font-family: 'Font Awesome\ 5 Free';
    }
  }
}

.progress-indicator {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 24px;

  left: 0;
  &__track {
    height: 4px;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__value {
    height: 100%;
    background: #e36049;
  }

  &:hover {
    .progress-indicator__track {
      height: 24px;
      transition: height 0.15s linear;
    }
  }
}

.fullscreen-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1000;
  background: transparent;
  color: transparent;
  border: 0;
  width: 24px;
  height: 24px;
  outline: 0;
  &:before {
    font-family: 'Font Awesome\ 5 Free';
    color: #e36049;
    font-size: 16px;
  }
  &--on {
    &:before {
      content: '\f065';
    }
  }
  &--off {
    &:before {
      content: '\f066';
    }
  }
}

.interactive-btn {
  position: absolute;
  bottom: 32px;
  right: 32px;
  background: #e36049;
  color: white;
  border: 0 none;
  z-index: 1000;
  padding: 8px 16px 9px;
  outline: 0;
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 16px;
  letter-spacing: -0.3px;
}
