@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Source+Sans+Pro');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/solid.css');

.slideshow-demo {
  background: antiquewhite;
  &__title {
    max-width: 1024px;
    margin: 0 auto;
    font-size: 2.8em;
    line-height: 1.5em;
    font-family: 'Playfair Display', Serif;
    letter-spacing: -3px;
    background: white;
    padding: 90px 110px 30px;
  }
  &__subtitle {
    max-width: 1024px;
    margin: 0 auto 0;
    font-size: 1.8em;
    line-height: 1.5em;

    font-family: 'Playfair Display', Serif;
    letter-spacing: 5px;
    padding: 0 110px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    top: 0;
    margin-bottom: 1.5em;
    background: white;
    text-transform: uppercase;
    &:before {
      position: absolute;
      top: -1.5em;
      height: 1.5em;
      left: 0;
      right: 0;
      background: white;
      transform: translate(0, -1px);
      content: ' ';
    }
    &:after {
      position: absolute;
      top: 1.5em;
      height: 1.5em;
      left: 0;
      right: 0;
      background: white;
      content: ' ';
      transform: translate(0, 1px);
    }
  }
  &__section {
    padding: 3em 0 9em;
    background: white;
    font-family: 'Source Sans Pro', Sans-Serif;
    & > p {
      max-width: 800px;
      //padding: 0px 100px;
      margin: 1.4em auto 1.4em;
      font-size: 1.4em;
    }
    &:before,
    &:after {
      clear: both;
    }
    max-width: 1024px;
    margin: 0 auto;
    &--full-width {
      padding: 0;
      max-width: max-content;
      background: transparent;
    }
  }
}

.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  background: black;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  background: black;
  img {
    object-fit: cover;
  }
  &__viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: black;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    font-family: 'Source Sans Pro', Sans-Serif;
    font-size: 16px;
  }
  &__title {
    font-family: 'Playfair Display', Serif;
    font-size: 48px;
  }

  &--cover {
    .slide__title {
      text-align: center;
      width: 35%;
      min-width: 320px;
      background: rgba(0, 0, 0, 0.4);
      color: white;
      margin: 0;
      padding: 20px 32px;
    }
    .slide__text {
      width: 35%;
      min-width: 320px;
      background: rgba(0, 0, 0, 0.4);
      color: white;
      margin: 0;
      padding: 0px 32px 24px;
    }
    .slide__overlay {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      pointer-events: none;
      flex-grow: 1;
      flex-basis: 0;
    }
    .slide__viewport > div > div > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &--even {
    display: flex;

    flex-direction: row;
    .slide__viewport {
      position: relative;
      flex: 4;
    }
    .slide__overlay {
      position: relative;
      flex: 1;
      padding: 40px 60px;
      background: white;
    }
  }
  &--odd {
    display: flex;

    flex-direction: row-reverse;
    .slide__viewport {
      position: relative;
      flex: 4;
    }
    .slide__overlay {
      position: relative;
      flex: 1;
      padding: 40px 60px;
      background: white;
    }
  }
}

.canvas-navigation {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  top: 0;
  left: 0;
  &__previous,
  &__next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: all;
    color: transparent;
    background: transparent;
    border: 0;
    background: rgba(255, 255, 255, 1);
    width: 64px;
    height: 64px;
    outline: 0;
    filter: drop-shadow(0 0 0px transparent);
    &:hover {
      transition: filter 0.15s linear;
      filter: drop-shadow(0px 0 75px rgba(0, 0, 0, 0.45));
      &:before {
        font-size: 1.8em;
        transition: font-size 0.15s linear;
      }
      &:after {
        font-size: 1.8em;
        transition: font-size 0.15s linear;
      }
    }
  }
  &__previous {
    left: -32px;
    border-radius: 0 50% 50% 0;
    &:before {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -50%);
      content: '\f053';
      color: #e36049;
      font-family: 'Font Awesome\ 5 Free';
    }
  }
  &__next {
    right: -32px;
    border-radius: 50% 0 0 50%;
    &:after {
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
      content: '\f054';
      color: #e36049;
      font-family: 'Font Awesome\ 5 Free';
    }
  }
}

.fullscreen-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1000;
  background: transparent;
  color: transparent;
  border: 0;
  width: 24px;
  height: 24px;
  outline: 0;
  &:before {
    font-family: 'Font Awesome\ 5 Free';
    color: #e36049;
    font-size: 16px;
  }
  &--on {
    &:before {
      content: '\f065';
    }
  }
  &--off {
    &:before {
      content: '\f066';
    }
  }
}

.interactive-btn {
  position: absolute;
  bottom: 32px;
  right: 32px;
  background: #e36049;
  color: white;
  border: 0 none;
  z-index: 1000;
  padding: 8px 16px 9px;
  outline: 0;
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 16px;
  letter-spacing: -0.3px;
}

.slide-cover {
  width: 100%;
  height: 100%;
  & > div {
    width: 100%;
    height: 100%;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.transition {
  width: 100%;
  height: 100%;
  position: relative;
  &__children {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__animation {
    background: white;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: -100%;
    transform: translate(0, 0);
    opacity: 0;
    pointer-events: none;
  }
  &--forward {
    .transition__children {
      transform: translate(0%, 0);
      -webkit-transform: translate(0%, 0);
      transition: transform 0.3s ease-out;
    }
    .transition__animation {
      opacity: 1;
      transform: translate(-100%, 0);
      -webkit-transform: translate(-100%, 0);
      transition: transform 0.3s ease-out;
    }
  }
  &--backward {
    .transition__children {
      transform: translate(0%, 0);
      -webkit-transform: translate(0%, 0);
      transition: transform 0.3s ease-out;
    }
    .transition__animation {
      opacity: 1;
      transform: translate(100%, 0);
      -webkit-transform: translate(100%, 0);
      transition: transform 0.3s ease-out;
    }
  }
}

.slide-transitions {
  width: 100%;
  height: 100%;
}
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 250ms ease-in;
}

.slide--even {
  &.fade-enter {
    .slide__overlay {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
    }
  }
  &.fade-enter-active {
    .slide__overlay {
      -webkit-transform: translateX(0.01%);
      -webkit-transition: -webkit-transform 250ms
        cubic-bezier(0.55, 0.085, 0.68, 0.53);
      -webkit-transition-delay: 250ms;
      transform: translateX(0.01%);
      transition: transform 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition-delay: 250ms;
    }
  }
}
.slide--odd {
  &.fade-enter {
    .slide__overlay {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
    }
  }
  &.fade-enter-active {
    .slide__overlay {
      -webkit-transform: translateX(0.01%);
      -webkit-transition: -webkit-transform 250ms
        cubic-bezier(0.55, 0.085, 0.68, 0.53);
      -webkit-transition-delay: 250ms;
      transform: translateX(0.01%);
      transition: transform 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition-delay: 250ms;
    }
  }
}

.slideshow-configurator {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  &__panel {
    flex: 1;
  }
  &__previews {
    flex: 5;
  }
}
