// Basic page fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Source+Sans+Pro');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/solid.css');

.slideshow-demo {
  background: antiquewhite;
  &__title {
    max-width: 1024px;
    margin: 0 auto;
    font-size: 2.8em;
    line-height: 1.5em;
    font-family: 'Playfair Display', Serif;
    letter-spacing: -3px;
    background: white;
    padding: 90px 110px 30px;
  }
  &__subtitle {
    max-width: 1024px;
    margin: 0 auto 0;
    font-size: 1.8em;
    line-height: 1.5em;

    font-family: 'Playfair Display', Serif;
    letter-spacing: 5px;
    padding: 0 110px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    top: 0;
    margin-bottom: 1.5em;
    background: white;
    text-transform: uppercase;
    &:before {
      position: absolute;
      top: -1.5em;
      height: 1.5em;
      left: 0;
      right: 0;
      background: white;
      transform: translate(0, -1px);
      content: ' ';
    }
    &:after {
      position: absolute;
      top: 1.5em;
      height: 1.5em;
      left: 0;
      right: 0;
      background: white;
      content: ' ';
      transform: translate(0, 1px);
    }
  }
  &__section {
    padding: 3em 0 9em;
    background: white;
    font-family: 'Source Sans Pro', Sans-Serif;
    & > p {
      max-width: 800px;
      margin: 1.4em auto 1.4em;
      font-size: 1.4em;
    }
    &:before,
    &:after {
      clear: both;
    }
    max-width: 1024px;
    margin: 0 auto;
    &--full-width {
      padding: 0;
      max-width: max-content;
      background: transparent;
      & > p {
        max-width: 1024px;
        margin: 1.4em auto 0;
        padding: 1.4em 110px;
      }
    }
  }
}

// Style overrides
.slide__interactive-btn {
  background: #e36049;
  color: white;
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 16px;
  letter-spacing: -0.3px;
  padding: 8px 16px 9px;
}
