.galway-controls {
  background: #333;
  //height: 50px;
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }

  &__slider {
    margin: 0 30px;
    flex: 1;
  }

  &__button {
    background: #333;
    border-radius: 0;
    border: none;
    height: 50px;
    width: 50px;
    transition: background 0.5s;
    color: #fff;
    text-align: center;

    &:focus {
      outline: 2px solid #fff;
      outline-offset: -4px;
    }
    &:active {
      background: #222;
    }
  }
}
