$primary-midnight-blue: #1b4163 !default;
$pallet-3-1: #02ab5e !default;

.start-screen {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: opacity 0.3s;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__title {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 40px;
    width: 100%;

    @media (max-width: 40em) {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 20px;
    }
  }

  &__body {
    display: flex;
    flex-flow: row wrap;

    p {
      flex: 2 0;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 28px;
      @media (max-width: 40em) {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 24px;
      }
    }

    a {
      font-weight: 600;
      color: $primary-midnight-blue;
    }
  }

  &__inner {
    position: absolute;
    top: 80px;
    left: 40px;
    right: 40px;
    max-width: 1100px;
    margin: auto;
    background: #fff;
    padding: 60px 80px 60px 60px;
    overflow: auto;
    max-height: 80vh;

    @media (max-width: 40em) {
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      padding: 30px 40px 100px 30px;
    }
  }

  &__content {
    padding-right: 30px;
    flex: 2;

    @media (max-width: 60em) {
      min-width: 100%;
      padding: 0;
    }
  }
  &__image {
    flex: 1;
    text-align: center;
    @media (max-width: 60em) {
      img {
        display: none;
      }
    }
  }

  &__dismiss--start {
    margin-top: 20px;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    padding: 12px 80px;
    background: $pallet-3-1;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.4s;

    @media (max-width: 40em) {
      position: fixed;
      bottom: 20px;
      left: 20px;
      right: 20px;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    }
  }

  &__dismiss--close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;

    @media (max-width: 40em) {
      position: fixed;
      top: 20px;
      right: 30px;
    }
  }

  &__dismiss--lightbox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(6px);
    display: block;
    z-index: 0;
  }
}
