.canvas-navigation {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  top: 0;
  left: 0;
  &__previous,
  &__next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: all;
    color: transparent;
    background: transparent;
    border: 0;
    background: rgba(255, 255, 255, 1);
    width: 64px;
    height: 64px;
    outline: 0;
    filter: drop-shadow(0 0 0px transparent);
    &:hover {
      transition: filter 0.15s linear;
      filter: drop-shadow(0px 0 75px rgba(0, 0, 0, 0.45));
      &:before {
        font-size: 1.8em;
        transition: font-size 0.15s linear;
      }
      &:after {
        font-size: 1.8em;
        transition: font-size 0.15s linear;
      }
    }
  }
  &__previous {
    left: -32px;
    border-radius: 0 50% 50% 0;
    &:before {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -50%);
      content: '\f053';
      color: #e36049;
      font-family: 'Font Awesome\ 5 Free';
    }
  }
  &__next {
    right: -32px;
    border-radius: 50% 0 0 50%;
    &:after {
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
      content: '\f054';
      color: #e36049;
      font-family: 'Font Awesome\ 5 Free';
    }
  }
}
