.transition {
  width: 100%;
  height: 100%;
  position: relative;
  &__children {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__animation {
    background: white;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: -100%;
    transform: translate(0, 0);
    opacity: 0;
    pointer-events: none;
  }
  &--forward {
    .transition__children {
      transform: translate(0%, 0);
      -webkit-transform: translate(0%, 0);
      transition: transform 0.3s ease-out;
    }
    .transition__animation {
      opacity: 1;
      transform: translate(-100%, 0);
      -webkit-transform: translate(-100%, 0);
      transition: transform 0.3s ease-out;
    }
  }
  &--backward {
    .transition__children {
      transform: translate(0%, 0);
      -webkit-transform: translate(0%, 0);
      transition: transform 0.3s ease-out;
    }
    .transition__animation {
      opacity: 1;
      transform: translate(100%, 0);
      -webkit-transform: translate(100%, 0);
      transition: transform 0.3s ease-out;
    }
  }
}
