.slideshow-configurator {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 600px;
  flex-direction: row;
  background: white;
  &__panel {
    flex: 1.5;
  }
  &__previews {
    flex: 5;
  }
  &__form {
    padding: 16px;
  }
  &__legend {
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }
  &__label {
    font-size: 1em;
    padding: 8px 0 4px;
    display: block;
  }
  &__input,
  &__select {
    font-size: 1em;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid;
    outline: none;
    border-radius: 0;
    &:focus {
      border-bottom-color: #e36049;
    }
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    background: transparent;
    margin-bottom: 1em;
  }

  input[type='submit'] {
    background: #e36049;
    color: white;
    font-family: 'Source Sans Pro', Sans-Serif;
    font-size: 16px;
    letter-spacing: -0.3px;
    padding: 8px 16px 9px;
    border: 0 none;
    float: right;
    outline: 0;
  }
}
