.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  background: black;
  overflow: hidden;
  &__inner-frame {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  background: black;
  img {
    object-fit: cover;
  }
  &__viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: black;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    font-family: 'Source Sans Pro', Sans-Serif;
    font-size: 16px;
  }
  &__title {
    font-family: 'Playfair Display', Serif;
    font-size: 48px;
  }

  &--cover {
    .slide__title {
      text-align: center;
      width: 50%;
      min-width: 320px;
      color: white;
      margin: 0;
      padding: 20px 32px;
    }
    .slide__text {
      width: 50%;
      min-width: 320px;

      color: white;
      margin: 0;
      padding: 0px 32px 24px;
    }
    .slide__overlay {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      pointer-events: none;
      flex-grow: 1;
      flex-basis: 0;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  &--even {
    display: flex;

    flex-direction: row;
    .slide__viewport {
      position: relative;
      flex: 4;
    }
    .slide__overlay {
      position: relative;
      flex: 1;
      padding: 40px 60px;
      background: white;
    }
  }
  &--odd {
    display: flex;

    flex-direction: row-reverse;
    .slide__viewport {
      position: relative;
      flex: 4;
    }
    .slide__overlay {
      position: relative;
      flex: 1;
      padding: 40px 60px;
      background: white;
    }
  }
}

.fullscreen-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1000;
  background: transparent;
  color: transparent;
  border: 0;
  width: 24px;
  height: 24px;
  outline: 0;
  &:before {
    font-family: 'Font Awesome\ 5 Free';
    color: #e36049;
    font-size: 16px;
  }
  &--on {
    &:before {
      content: '\f065';
    }
  }
  &--off {
    &:before {
      content: '\f066';
    }
  }
}

.slide-cover {
  width: 100%;
  height: 100%;
  & > div {
    width: 100%;
    height: 100%;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
