.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  background: black;
  overflow: hidden;

  &--isMobile {
    background: #fff;
    position: relative;
    overflow: auto;
  }
  &__inner-frame {
    width: 100%;
    position: relative;
  }
}
