$range-colour: #018786 !default;

.range-highlights {
  position: absolute;
  display: flex;
  width: 100%;
  padding-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  box-sizing: border-box;
  height: 20px;

  &__item {
    position: relative;
  }

  &__icon {
    position: absolute;
    color: $range-colour;
    width: 20px;
    text-align: left;
    line-height: 10px;
    font-size: 30px;
    top: 0;
    left: -15px;
    &--current {
      color: #fff;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
